
<div class="container-fluid p-0">
  <div class="container">
    <div class="row">
      <header class="col-12 justify-content-center">
        <div class="col head  align-items-center justify-align-center text-center my-4">
          <img src="http://placekitten.com/150/150" alt="Logo" class="img-fluid inCircle">
        </div>
        <ul class="nav justify-content-center my-2">
          <li class="nav-item mx-2">
            <a class="btn btn-secondary" href="#">Enlace</a>
          </li>
          <li class="nav-item mx-2">
            <a class="btn btn-secondary" href="#">Enlace</a>
          </li>
          <li class="nav-item mx-2">
            <a class="btn btn-secondary" href="#">Enlace</a>
          </li>
          <li class="nav-item mx-2">
            <a class="btn btn-secondary" href="#">Enlace</a>
          </li>
        </ul>
      </header>
    </div>
  </div>
  <div class="col-12 bg-light">
    <router-outlet></router-outlet>
  </div>
  <div class="col-12 bg-white pt-5">
  </div>
  <div class="col-12 bg-light pt-5">
    <div class="container">
        <footer>
          <div class="row">
            <div class="col">
              <h3 class="isTitle bg-secondary">Title Element</h3>
              <ul class="list-unstyled">
                <li>Element A</li>
                <li>Element AB</li>
                <li>Element ABC</li>
              </ul>
            </div>
            <div class="col">
              <h3 class="isTitle bg-secondary">Title Element</h3>
              <ul class="list-unstyled">
                <li>Element A</li>
                <li>Element AB</li>
                <li>Element ABC</li>
              </ul>
            </div>
            <div class="col">
              <h3 class="isTitle bg-secondary">Title Element</h3>
              <ul class="list-unstyled">
                <li>Element A</li>
                <li>Element AB</li>
                <li>Element ABC</li>
              </ul>
            </div>
            <div class="col">
              <h3 class="isTitle bg-secondary">Title Element</h3>
              <div class="row">
                <div class="col">
                  <img src="http://placekitten.com/50/50" alt="Logo" class="img-fluid">
                </div>
                <div class="col">
                  <img src="http://placekitten.com/50/50" alt="Logo" class="img-fluid">
                </div>
                <div class="col">
                  <img src="http://placekitten.com/50/50" alt="Logo" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </footer>
    </div>
  </div>
</div>
